{% load static %}
<!DOCTYPE html>
{% comment %} {% load cache %} {% endcomment %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="{% static 'views/main.css' %}">
    <link rel="stylesheet" href="{% static 'views/forum.css' %}">
</head>
<body>
    {% if messages %}
        {% for message in messages %}
            <h1>{{message}}</h1>
        {% endfor %}
    {% endif %}
    <div class="base-container">
        <div class="base-left">
            <div class="base-left-links">
                <a href="{% url 'home' %}"><div>Home</div></a>
                <a href="{% url 'dashboard' %}"><div>Dashboard</div></a>
                <a href="{% url 'Forum' %}"><div>Forum</div></a>
                <a href="{% url 'expense' %}"><div>Expenses</div></a>
                <a href="{% url 'income' %}"><div>Income</div></a>
                <a href="{% url 'dead page' %}"><div>Report loss of animal</div></a>
            </div>
        </div>
        {% comment %} {% cache 15 slowrunner %} {% endcomment %}
        {% comment %} {% endcache %} {% endcomment %}
        <div class="base-right">
            {% block content %}{% endblock content %}
        </div>
    </div>
</body>
</html>