{% extends 'views_temp/base.html' %}
{% load cache %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'views/dashboard.css' %}">
    <section class="dashboard">
        <nav class="navbar">
            {% comment %} <span>See your data from a different&nbsp;</span> {% endcomment %}
            <form action="" method ="POST" class="montly-form">
                {% csrf_token %}
                {{ animal_monthly_form}}
                <input type="submit" value="Go" id="go-btn">
            </form>
            {% comment %} <span class="nav-text new-animal-text">Add New Animal</span> {% endcomment %}
            <button id="new-animal-button">+</button>
            <button id="search-btn">Q</button>
        </nav>

        <form action="" method = "POST"  id="animal-input-form">
            {% csrf_token %}
            <button id="animal-close-button">X</button>
            <div>
                <p class="form-label"> Animal Type </p>
                {{ animal_input_form.animal }}
            </div>
            <div>
                <p class="form-label"> Price per one</p>
                {{ animal_input_form.price_per_one }}
            </div>
            <div>
                <p class="form-label">Quantity bought </p>
                {{ animal_input_form.quantity}}
            </div>
            <div id="age-bought-flex">
                <p class="form-label" id="age-bought">Age bought</p>
                <div id="age-flex">
                    <div>{{ animal_input_form.age_week }} weeks</div>
                    <div>{{ animal_input_form.age_day }} Days</div>
                </div>
            </div>
            <input type="submit" value="Submit" id="animal-submit-button">
        </form>

        {% comment %} {% cache 300 slowrunner %} {% endcomment %}
            <div class="dashboard-container" >
                <div class="dashboard-top-container">
                    <div class="total-income top-box">
                        <p>Total Income</p>
                        <h3 class="big-number">${{ total_money_earned }}</h3>
                    </div>
                    <div class="total-expense top-box">
                        <p>Total Expense</p>
                        <h3 class="big-number">${{ total_money_spent }}</h3>
                    </div>
                    <div class="total-animal top-box" >
                        <p>Total animal</p>
                        <h3 class="big-number">{{ total_alive_animal }}</h3>
                    </div>
                </div>
                <div class="dashboard-middle-container">
                    <div class="middle-box" >
                        <div>{{total_alive_chicken}}</div>
                        <p>Chickens</p>
                    </div>
                    <div class="middle-box" >
                        <div>{{total_alive_cow}}</div>
                        <p>Cows</p>
                    </div>
                    <div class="middle-box" >
                        <div>{{total_alive_turkey}}</div>
                        <p>Turkeys</p>
                    </div>
                    <div class="middle-box" >
                        <div>{{total_alive_fish}}</div>
                        <p>Fish</p>
                    </div>
                    <div class="middle-box" >
                        <div>{{total_alive_goat}}</div>
                        <p>Goats</p>
                    </div>
                    <div class="middle-box" >
                        <div>{{total_alive_sheep}}</div>
                        <p>Sheep</p>
                    </div>
                </div>
                <div class="dashboard-bottom-container">
                    <div class="bottom-box first-box">Total Profit<p>${{ total_profit }}</p></div>
                    <div class="bottom-box second-box">Total Dead Animals<p>{{total_dead_animal}}</p></div>
                </div>
            </div>
        {% comment %} {% endcache %} {% endcomment %}
    </section>
    <script src="{% static 'javascript/dashboard.js' %}"></script>
{% endblock content %}