<!-- chat/templates/chat/index.html -->
{% extends 'views_temp/base.html' %}
{% load static %}
{% block content %}
    <div class="forum">
        <div class="chat-containers">
            <div id="chicken">Chickens</div>
            <div id="turkey">Turkeys</div>
            <div id="fish">Fish</div>
            <div id="sheep">Sheep</div>
            <div id="goat">Goat</div>
            <div id="cow">Cow</div>
        </div>
        <div class="pro-chat-container">
            {% for pro in professionals %}
                <a href="{% url 'private room' pro.id%}" class='professionals' > {{pro.username}} </a>
            {% endfor %}
        </div>
    </div>
        <script src="{% static 'javascript/forum.js' %}"></script>
{% endblock content %}
