{% extends 'views_temp/base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'views/chat_page.css' %}">
    <div class="chat-page">
        <section id="chat-area"></section>
        <div class="form-and-submit-container">
            <input id="chat-message-input" type="text"/>
            <input id="chat-message-submit" type="button" value="Send">
        </div>
        <div id='user'>{{ owner }}</div>
        {{ room_name|json_script:"room-name" }}
        <script src="{% static 'javascript/room.js' %}"></script>
    </div>
{% endblock content %}