{% extends 'views_temp/base.html' %}
{% load cache %}
{% block content %}
    Hello nigga
    {% comment %} {% cache 15 slowrunner %} {% endcomment %}
    whats up bitchsss13
    {% comment %} {% endcache %} {% endcomment %}
    {% if messages %}
        {% for message in messages %}
            <h1> {{message}}</h1>
        {% endfor %}
    {% endif %}

    <form action = "" method = "post">
        {% csrf_token %}
        {{ form.as_ul }}
        <input type="submit" value="Submit">
    </form>
    {% block mini %}{% endblock mini %}
{% endblock content %}
