{% extends 'views_temp/base.html' %}
{% load cache %}
{% block content %}
    {% comment %} {% cache 15 slowrunner %} {% endcomment %}
    {% comment %} {% endcache %} {% endcomment %}
    <div class="single-temp">
        {% if messages %}
            {% for message in messages %}
                <h1> {{message}}</h1>
            {% endfor %}
        {% endif %}
        <div class="single-form-container">
            <form action = "" method = "post" class="single-form">
                {% csrf_token %}
                {% if title == "Death of an animal 😢" %}
                    <legend><h1>Log the {{ title }}</h1></legend>
                {% else %}
                    <legend><h1>Create An {{ title }} Entry</h1></legend>
                {% endif %}
                {{ form.as_div }}
                <input type="submit" value="Submit">
            </form>
        </div>

        {% if dead_data %}
            <div class="data-info">
                <div class="single-temp-header-container">
                    <p>Number Of Dead Animals</p>
                    <p>Animal</p>
                    <p>Amount Bought</p>
                    <p>Date</p>
                </div>
                {% for data in dead_data %}
                    <div class='data-info-card'>
                        <span>{{data.0}}</span>
                        <span>{{data.1}}</span>
                        <span>$ {{data.2}}</span>
                        <span>{{data.3}}</span>
                    </div>
                {% endfor %}
            </div>
        {% elif title == "Death of an animal 😢"%}
        {% else %}

        <div class="data-info">
            {% for data in data %}
                <div class="data-info-card">
                    <div id="data-info-name">{{ data.name}}</div>
                    <div id="data-info-category">{{ data.category}}</div>
                    <div id="data-info-amount">${{ data.amount}}</div>
                    {% if data.quantity_sold %}
                        <div id="data-info-quantity">{{ data.quantity_sold}}</div>
                        {% comment %} <div id="data-info-category">{{ data.category}}. {{ data.quantity_sold}}</div> {% endcomment %}
                    {% endif %}
                    <div id="data-info-date">{{ data.date}}</div>
                </div>
            {% endfor %}
        </div>
        {% endif %}

        {% block mini %}{% endblock mini %}
    </div>
{% endblock content %}
