.dashboard{
    min-height: 100vh;
    width: calc(100vw - 218px);
    background-color: var(--brand-100);
}

.navbar{
    background-color: var(--brand-700);
    color: var(--brand-colour);
    display: flex;
    justify-content: end;
    align-items: center;
    margin-bottom: 40px;
}

.new-animal-text{
    margin-right: 20px;
}

.navbar > button {
    color: var(--brand-800);
    border: none;
    background-color: var(--brand-colour);
    padding: 5px;
    margin: 5px 0;
}

.montly-form{
    margin-right: auto;
    margin-left: 5%;
}
.montly-form > input {
    background-color: var(--supporting-purple-200);
    color: var(--supporting-purple-700);
    padding: 5px;
    border: none;
    border-radius: 5px;
    /* font-size: larger; */
}
.montly-form > label {
    display: none;
}


#new-animal-button{
    margin-right: 5%;
    padding: 10px 15px;
    border-radius: 5px;
}

#search-btn {
    display: none;
}




#animal-close-button{
    margin-top: 20px;
    position: relative;
    left: 95%;
    background-color: var(--supporting-orange-color);
    color: var(--supporting-blue-color);
    border: none;
    padding: 5px 15px;
    transform: translateX(-100%);
}

#animal-input-form{
    display: none;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.6px);
    -webkit-backdrop-filter: blur(4.6px);
    border: 1px solid rgba(52, 36, 36, 0.08);
    width: 50%;
    position: relative;
    left: 25%;
    color: var(--brand-800);
    background-color: var(--supporting-blue-300);
}

#animal-input-form > div {
    display: flex;
    justify-content: center;
    align-items: center;
}



.form-label{
    margin-left: 20px;
    width: 20%;
    display: inline-block;
}

.input-field{
    background-color:var(--brand-200);
    border: none;
    width: 50%;
    height: 20px;
}

#age-bought-flex{
    display: flex;
}


#age-flex{
    display: flex;
    align-items: center;
    width: 50%;
}

#age-flex > div{
    margin-right: 20px;
}

.little-field{
    width: 50%;
    border: none;
    background-color:var(--brand-200);
}


#animal-submit-button{
    cursor: pointer;
    width: 50%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin: 20px 0;
    border: none;
    background-color: var(--brand-colour);
    color: var(--brand-800);
    padding: 10px 30px;

}

.dashboard-container{
    width: 90%;
    padding: 5% 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}

.dashboard-top-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.dashboard-middle-container{
    display: flex;
    align-items: center;
    margin: 5vh 0;
}

.dashboard-bottom-container{
    display: flex;
    gap: 10px;
    height: 30vh;
    width: 100%;
}

.top-box{
    color: var(--brand-700);
    width: 33.3%;
    height: 20vh;
    background:var(--brand-200);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.9px);
    -webkit-backdrop-filter: blur(6.9px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}


.middle-box{
    width: 16.6%;
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--brand-colour);
    color: var(--brand-100);
    border:1px solid var(--brand-100);
}
.middle-box > p {
    margin: 0;
    text-align:right;
    width: 100%;
    padding: 0 10px 5px 0;
}

.middle-box > div{
    width: 100%;
    height: 100%;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    text-indent: 5px;
    text-align: center;
    padding: 10px 0 10px;
}

.bottom-box{
    width: 50%;
    color: var(--brand-700);
    font-size: 1.5rem;
    background-color: var(--brand-200);
    border-radius: 10px;
    /* border: 1px solid var(--teal); */
    padding: 0 0 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


.big-number{
    font-size: 3rem;
    margin: 0 0 20px 0;
    text-align: center;
}


.top-box p {
    padding: 5px 10px 0 0;
    margin: 0;
    font-size: 1.5rem;
}

.bottom-box > p {
    font-size: 4rem;
    margin: 0;
    text-align: center;
}



@media (max-width: 480px) {
    .dashboard {
        width: 100vw;
        background-color: #fff;
    }

    .navbar > span {
        display: none;
    }

    .navbar > form {
        display: none;
    }

    #animal-close-button{
        margin: 0 0 50px 0;
        left: 100%;
        padding: 5px 15px;
    }



    #animal-input-form {
        position: absolute;
        z-index: 1;
        left: 0;
        height: 100%;
        width: 90%;
        padding: 5%;
    }

    #animal-input-form > div {
        padding: 0 0 20px 0;
    }

    .form-label {
        width: 100%;
        margin: 0;
        display: block;
        padding-bottom: 10px;
    }

    .input-field {
        width: 100%;
        height: 40px;
    }

    .little-field {
        width: 100%;
    }

    #age-bought-flex {
        flex-direction: column;
    }
    #age-flex{
        width: 100%;
        gap: 10px;
    }

    #age-flex > div {
        margin: 0;
        text-align: right;
    }


    #animal-submit-button {
        width: auto;
        padding: 20px 100px;
        margin-top: 30px;
        font-weight: 600;
        font-size: 1.2rem;
    }


    #search-btn {
        width: 40px;
        margin-right: 20px;
    }

    .dashboard-container {
        padding: 0 10px;
    }

    .dashboard-top-container {
        margin: 0;
        display: grid;
        width: 100%;
        gap: 10px;
        /* border: 1px solid var(--alternate-text-colour); */
        /* padding: 10px; */
        /* margin-bottom: 15%; */
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas:
        'earned spent'
        'animal animal'
        ;
        /* grid-template-rows: 100% 1fr; */
    }

    .top-box {
        height: 100px;
        width: auto;
        border-radius: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        padding-left: 10px;
    }

    .total-animal {
        grid-area: animal;
        border-radius: 0 0 10px 10px;
    }
    .total-income {
        grid-area: earned;
    }
    .total-expense {
        grid-area: spent;
    }

    .big-number {
        font-size: 1.5rem;
    }

    .top-box p {
        font-size: 1rem;
    }


    .dashboard-middle-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        /* padding: 0 10px; */
        gap: 10px;
        margin-bottom: 10%;
    }

    .middle-box {
        width: 100%;
        padding: 0;
        height: 70px;
    }

    .middle-box > div{
        width: 100%;
        height: 60%;
        border-radius: 10px;
    }

    /* .dashboard-bottom-container {

        /* margin: 0 auto; 
    } */


    .dashboard-bottom-container {
        flex-direction: column;
        height: auto;
    }

    .bottom-box {
        padding: 0 0 0 5%;
        width: 95%;
        font-size: 1rem;
    }

    .bottom-box > p {
        margin: 10px;
        font-size: 3rem;
    }
}