nav {
    font-size: 2.5rem;
    font-style: italic;
    padding: 20px 10px 0 50px;
}




.main-hero{
    color: var(--brand-800);
    height: 80vh;
    display: flex;
    align-items: center;
    padding: 50px;
}

.main-hero-text {
    width: 50%;
}

.main-hero-img-container {
    height: 90%;
    width: 50%;
}

.main-hero-img-container > img {
    height: 100%;
    width: 100%;
}


.main-hero h1 {
    font-size: 3.5rem;
    margin: 0;
    margin-bottom: 5%;
    font-weight: 900;
}

.main-hero p {
    font-size: 1.4rem;
    margin: 0 0 5% 0;
    font-weight: 400;
}

.cta-container {
    display: flex;
    /* margin: 20px 0 0 0; */
    /* width: 50%; */
    /* gap: 20px; */
    justify-content: flex-start;
}

.cta-container > a {
    display: block;
    font-size: 1.3rem;
    padding: 15px 50px;
    text-decoration: none;
}

.primary-btn {
    border-radius: 5px;
    background-color:var(--brand-colour);
    color: var(--brand-800);
}

.signin-btn {
    color: var(--brand-800);
    border-radius: 5px;
    /* background-color: var(--neutral-color); */
}


#about-us-section {
    margin-bottom: 0;
    background-color: var(--neutral-100);
}

#about-us-section > p {
    text-align: center;
    width: 80%;
    font-size: 2rem;
    margin: 10% auto;
    padding: 5% 0;
}


#animal-feature-section {
    height: 70vh;
    margin-bottom: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#animal-feature-section-text-div {
    padding: 30px;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}

#animal-feature-section-text-div div {
    width: 80%;
    height: 100%;
}

#animal-feature-section-text-div p {
    /* padding: 10px 0; */
    font-size: 1.5rem;
    font-family: montserrat;
}

#animal-feature-section-text-div ul {
    font-family: Helvetica;
}


#animal-feature-section-img-div {
    width: 50%;
    height: 90%;
    border-radius: 5px;
}

#animal-feature-section-img-div img {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    margin: 0 auto;
}


#booking-section {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 10%;
}


#booking-section p {
    font-size: 2rem;
    text-align: center;
}
#booking-section img {
    width: 30%;
}

.professional-section {
    margin: 5% 0;
    text-align: center;
    /* background-color: var(--supporting-blue-100); */
}

.professional-section h1 {
    margin-bottom: 100px;
}

.professional-info-container {
    display: flex;
    gap: 10%;
    width: 90%;
    justify-content:center;
    margin: 0 auto;
    margin-bottom: 200px;
}

.professional-info-box:first-child {
    background: linear-gradient(hsla(110, 72%, 10%, 0.5),hsla(110, 72%, 10%, 0.5)), url("/static/pic/chicken_vet_smilling.jpg");
    background-position: right bottom;
    border-radius: 30px 0 0 30px;
}

.professional-info-box:nth-child(2) {
    background: linear-gradient(hsla(110, 72%, 10%, 0.5),hsla(110, 72%, 10%, 0.5)), url("/static/pic/chicken_girl_smilling.jpg");
    background-position:center;
    background-size: cover;
    border-radius: 0%;
}

.professional-info-box:last-child {
    background: linear-gradient(hsla(110, 72%, 10%, 0.5),hsla(110, 72%, 10%, 0.5)), url("/static/pic/chicken_vet_serious.jpg");
    background-position:center;
    background-size: cover;
    border-radius: 0 30px 30px 0;
}


.professional-info-box {
    height: 45vh;
    width: 25%;
    position: relative;
}


.professional-info-box > p {
    position: absolute;
    bottom: 10%;
    color: var(--supporting-blue-200);
    padding: 0 10px;
}

.community-container {
    height: 50vh;
    position: relative;
    background: linear-gradient(hsla(110, 72%, 10%, 0.5),hsla(110, 72%, 10%, 0.5)), url("/static/pic/group-happy-african-volunteers-planting-tree-park-africa-volunteering-charity-people-ecology-concept.jpg");
    /* border-radius: 5px; */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: var(--supporting-orange-100);
}

.community-container > p {
    position: absolute;
    right: 20px;
    bottom: 20px;
    font-size: 2rem;
}

#price-plan-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 10% 0 ;
}


.price-card {
    height: 50vh;
    width: 70vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--supporting-blue-800);
    color: var(--brand-colour);
    border-radius: 5px;
}

.price-card div {
    height: 70%;
    display: flex;
    align-items: center;
    font-size: 3rem;
}

.price-card p {
   margin: 0;
   font-size: 1.06rem;
}

#price-currency {
    font-size: 1.06rem;
}

#price-period {
    font-size: 1.78rem;
    margin: 0;
}

.price-card a {
    cursor: pointer;
    text-decoration: none;
    width: 80%;
    color: var(--brand-colour);
    font-size: 1.3rem;
    border: 1px solid var(--brand-colour);
    padding: 10px 20px;
}


/* #cta-section {
    width: 80%;
    height: 50vh;
    margin: 0 auto;
    border: 1px solid var(--teal);

} */


footer {
    background-color: var(--supporting-blue-800);
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2,auto);
    gap: 30px 0;
    color: var(--brand-colour);
    width: 95%;
    border-radius: 5px 5px 0 0;
    margin: 0 auto;
    padding: 20px 0;
}

#logo-and-copyright-container {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
    align-self: center;
    padding-left: 20px;
}

#footer-logo {
    font-size: 2rem;
    font-style: italic;
}

footer > ul {
    grid-column: 4 / span 10;
    grid-row: 1;
    display: flex;
    list-style: none;
    border-bottom: 1px solid var(--brand-colour);
}
footer ul li {
    margin: 0 10px;
    padding: 10px;
    /* text-decoration: underline; */
    cursor: pointer;
}

/* #footer-links-container {
    grid-column: 11 / span 12;
    grid-row: 2;
}

#footer-links-container a {
    text-decoration: none;
    color: var(--blue);
    margin-right: 5px;
} */



@media (max-width: 480px) {
    nav {
        text-align: center;
    }
    .main-hero{
        flex-direction: column;
        padding: 0;
        justify-content: center;
        width: 100%;
        margin: 10px auto;
        background: url("/static/pic/barn.png");
        background-position: left;
        background-size: cover;
        background-repeat: no-repeat;
        height: 90vh;
    }

    .main-hero-text {
        width: 100%;
        text-align: center;
        padding: 10% 0;
    }

    .main-hero h1 {
        font-size: 1.8rem;
    }

    .main-hero p {
        font-size: 1rem;
        padding: 0 10%;
    }

    .cta-container {
        margin: 10% 0;
        justify-content: center;
    }

    .main-hero-img-container {
        display: none;
    }

    #about-us-section > p {
        font-size: 1rem;
    }

    #animal-feature-section {
        flex-direction: column;
        height: auto;
        margin-bottom: 20%;
    }

    #animal-feature-section-text-div {
        width: 100%;
        padding: 30px 0;
    }

    #animal-feature-section-text-div p {
        font-size: 1rem;
    }

    #animal-feature-section-img-div {
        width: auto;
    }

    #booking-section {
        flex-direction: column-reverse;
        gap: 10px;
        margin-bottom: 20%;
    }

    #booking-section p {
        font-size: 1.8rem;
    }

    #booking-section img {
        width: 50%;
        height: 50%;
    }

    .professional-section {
        margin-bottom: 20%
    }

    .professional-section h1 {
        padding: 0 5%;
    }

    .professional-info-container {
        flex-direction: column;
        align-items: center;
        gap: 30px;
        margin-bottom: 20%;
    }
    .professional-info-box {
        width: 80%;
    }
    .professional-info-box:first-child, .professional-info-box:nth-child(2), .professional-info-box:last-child {
        border-radius: 0;
    }
    .price-card  {
        margin-bottom: 20%
    }

    footer {
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: auto;
    }

    footer > ul {
        grid-column: 1;
        grid-row: 3 / span 7;
        flex-wrap: wrap;
        padding: 0;
        border-bottom: none   ;
    }

    footer > ul > li {
        border-bottom: 1px solid var(--brand-colour);
    }
}
