:root {
    --blue:#cbffa9;
    --white-bgc: #ffffff;
    --teal:#064420ce;
    /* --teal:#064420; */
    --red:#F30A49;
    --alternate-text-colour:#faf1e6;
    --text-color: #595B83;
    --light-dark-blue:#38e54ca9;
    /* --light-dark-blue:#38e54d; */
    --white-bgc:#d9eadd;

    /* --blue:#6977E6;
    --opacity-blue:#37408b;
    --teal:#04879C;
    --red:#F30A49;
    --alternate-text-colour:hsl(118, 27%, 72%);
    --text-color: hsl(120, 90%, 8%);
    --light-dark-blue:#333456;
    --white-bgc:hsl(120, 28%, 82%);
    --green-colour:hsl(120, 89%, 58%);
    --blue:#6977E6; */

}





html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* hsl(180, 82%, 17%); */
body {
    /* background-color:var(--white-bgc); */
    background: linear-gradient(to right bottom, var(--white-bgc), var(--alternate-text-colour), var(--blue), var(--teal));
}

.base-container {
    display: flex;
}

.base-left {
    /* background-color:var(); */
    width: 20%;
    min-height: 100vh;
    /* padding-right: 2px; */
    z-index: 3;
}

.base-left-links {
    position: sticky;
    top: 50%;
    transform: translateY(-50%);
}

.base-left-links div {
    margin-bottom: 10px;
    border-bottom: 5px solid var(--teal);
    padding: 5px;
    /* background-color: var(--alternate-text-colour); */
    /* border-radius: 10px; */
    color: var(--teal);
    /* text-align: right; */
    transition: 1s all;
}


.base-left-links div:hover {
    background-color: var(--opacity-blue);
    color:  var(--alternate-text-colour);
}

.base-left-links div:active {
    background-color: red;
}

.base-left-links a{
    color: black;
    text-decoration: none;
}




@media (max-width: 480px) {
    .base-left {
        display: none;
    }
}