.single-temp{
    width: 100%;
    display: flex;
    color: var(--brand-700);
}

.single-form-container{
    padding: 10px;
    width: 50%;
    height: 90vh;
    position: sticky;
    top: 20px;
}

legend {
    text-align: center;
    padding-bottom: 10vh;
    color: var(--brand-700);
}

.single-form{
    display: flex;
    flex-direction: column;
    background-color: var(--brand-200);
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    font-weight: 600;
    height: 100%;
}

.single-form > div {
    display: flex;
    flex-direction: column;
    width: 60%;
}
.single-form label{
    align-self: flex-start;
}

.single-form > div > input {
    padding: 7px 0;
    border: none;
    width: 100%;
    margin: 0 0 20px 0 ;
    background-color: var(--brand-100);
}

.single-form > div > select {
    padding: 7px 0;
    border: none;
    margin: 0 0 20px 0 ;
    background-color: var(--brand-100);
}

.single-form > input {
    margin: 3vh auto;
    background-color: var(--brand-colour);
    border: none;
    height: 5vh;
    width: 60%;
    border-radius: 5px;
}

.data-info{
    width: 50%;
    padding: 10px;
}

.data-info-card{
    display: grid;
    grid-template-columns:repeat(6,16.6%);
    grid-template-rows: repeat(2,4vh);
    margin-bottom: 10px;
    padding: 3% 20px;
    background-color: var(--brand-200);
    color: var(--brand-800);
    border: 1px solid var(--brand-800);
    border-left: 10px solid var(--supporting-purple-500);
    border-radius: 5px;
}

#data-info-name {
    grid-column: 1 / span 5;
    font-weight: 600;
    font-size: 1.5rem;
    border-bottom: 1px var(--brand-800) solid;
}

#data-info-category {
    grid-column: 1;
    grid-row: 2;
    align-self: flex-start;
}

#data-info-amount {
    grid-column: 6;
    grid-row: 1 / span 2;
    align-self: center;
    justify-self: flex-start;
    padding-right: 20px;
}

#data-info-quantity {
    grid-column: 2;
    grid-row: 2;
}

#data-info-date {
    grid-column: 4;
    grid-row: 2;
    font-size: smaller;
}


.dead-query-result{
    color: var(--brand-800);
    text-align: center;
    font-size: 2rem;
}