:root {
    --blue:#cbffa9;
    --white-bgc: #ffffff;
    --teal:#064420ce;
    /* --teal:#064420; */
    --red:#F30A49;
    --alternate-text-colour:#faf1e6;
    --text-color: #595B83;
    --light-dark-blue:#38e54ca9;
    /* --light-dark-blue:#38e54d; */
    --white-bgc:#d9eadd;
}


body {
    background-color: var(--white-bgc);
    color: var(--teal);
    margin: 0;
}

a{
    color: var(--alternate-text-colour);
    text-decoration: none;
}

.menu-div {
    display: none;
    /* display: flex; */
    /* justify-content: center;
    align-items: center; */
    /* flex-direction: column; */
}

.menu-div ul {
    list-style: none;
}