.signup-page{
    display: flex;
    width: 50%;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    /* background: linear-gradient(var(--white-bgc), var(--alternate-text-colour), var(--blue), var(--teal)); */
    background-color: var(--brand-100);
    color: var(--brand-800);
}

.signup {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-bottom: 30px;
}



.signup-text{
    margin-bottom: 5px;
    color: var(--supporting-purple-800);
}

.signup-text > a {
    color: var(--supporting-orange-500);
}


.signup div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}


.signup select {
    background-color: var(--brand-200);
    width: 70%;
}

.signup input{
    background-color: var(--brand-200);
    border: none;
    width: 70%;
    height: 4vh;
}



.signup-btn{
    justify-self: center;
    background-color: var(--brand-colour);
    color: var(--brand-800);
    border: none;
    padding: 10px 0;
    margin-top: 20px;
    cursor: pointer;
    transition: all 1s;
    width: 100%;
    border-radius: 5px;
    font-size: 1.1rem;
}

.signup-btn:hover{
    background-color: var(--brand-800);
    color: var(--brand-colour);
    border: 1px solid var(--teal);
}


.google-login-btn{
    background-color: var(--supporting-blue-color);
    color: var(--supporting-blue-800);
    text-align: center;
    width: 50%;
    padding: 10px 0;
    border-radius: 5px;
    transition: all 1s;
}


.google-login-btn:hover{
    background-color: var(--supporting-blue-800);
    color: var(--supporting-blue-color);
    border: 1px solid var(--supporting-blue-color);
}